body{ 
    margin: 0%;
    padding: 0%;
}
.selection{border: black solid 1px;
}
/* nav bar */
nav{ 
    height: 50px;
    display: flex;
}
.logo{
    width: 30%;
  padding: 1px 0px 4px 20px;
 
}
.logo img{
    height: 45px;
}
.menu{width: 70%;
display: block;
padding-left: 60%;
} 
.menu ul{
    display: flex;
  

}
.menu ul li{
    width: 50%;
    margin: 0px 0px;
/* border: green solid; */
list-style: none;
text-align: center;
padding: bottom 16px; 

height: 42px;
 }
 .menu ul li a{
   text-decoration: none; 
 }

/* Header */
header{
   min-height: 150px; 

}
.header-blocks{
   min-height: 43px;
    padding: 0px 0px 0px 20px;
} 
.p1{
 /* font-style: normal; */
 width: 10px;
}



/* Main */
main{
    min-height: 500px;
    display: flex;
    padding: 20px; 
    /* background-color: dimgray; */
}  
/* acc-title */
.acc-title{
    height: 30px;
  
}

/* acc-cards */
.acc-cards{
display: flex;
flex-wrap: wrap;
gap: 25px;
padding: 20px 20px 20px 30px;
/* text-rendering: auto; */
/* background-color: rgb(106, 96, 96); */

}





/* acc box */
.acc-box{
    width: 27%;;
    height: 170px;
   border-radius: 5%; 
   /* background-color: white; */
}
/* acc-box image */
.acc-box-image{
width: 94%;
margin: 0 auto;
height: 100px;
}

/* acc-box-disc */
.acc-box-disc{
height: 40px;
}








/* .acc-cards{ */

/* } */






.accommodation{
 width: 70%;
 margin: 5px 5px 20px 35px;
}
.most-popular{
 width: 30%;
 margin: 5px 15px 20px 15px;
}

/* foooter */
footer{
    height: 70px;
}